
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    int count = 0;
    

@model IEnumerable<Book>


<div class="row">
    <div class="row mb-2 ">
        @foreach (var item1 in Model)
            {
                count++;
                <div id="Book1" class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative " style="margin:20px ">
                    <div class="col p-4 d-flex flex-column position-static">

                        <h4>@item1.Title</h4>
                        <div class=" text-muted"> @item1.Author </div>
                            <p>Price @item1.Price $ </p>
                        <p>@item1.description</p>

                        <div>
                                @{
                                    if (item1.StockQuantity > 0)
                                    {
                                        <form asp-action="AddToCartBuy">

                                            <button type="submit" asp-controller="Home" asp-action="AddToCartBuy" asp-route-bookId="@item1.BookID" class="btn btn-success">Buy now</button>
                                        </form>
                                        <form asp-action="AddToCart">

                                            <button type="submit" asp-controller="Home" asp-action="AddToCart" asp-route-bookId="@item1.BookID" class="btn btn-success">Add to cart</button>
                                        </form>
                                        <a href="@Url.Action("ShowBook", "Home", new { id = item1.BookID })" class="btn btn-warning">Show Book</a>
                                    }else
                                    {

                                            <button type="button" class="btn btn-warning notify-btn" id="notify-@item1.BookID">Notify</button>
                                            <a class="text-success ms-2"> out of stock</a>
    
                                    }
                                }

                        </div>
                    </div>

                    <div class="col-auto d-none d-lg-block">
                        <img class="card-img-top" src="/@item1.ImgUrl" width="150" height="300" style="margin:10px 0 0 0; " alt="Card image cap">
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}

<script>
  document.addEventListener("DOMContentLoaded", function () {
        var notifyButtons = document.querySelectorAll('.notify-btn');
        notifyButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                alert("The admin has been notified about the stock issue.");
            });
        });
    });
</script>

